html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(to right, rgb(252, 118, 1) 0%, rgb(255, 217, 0) 100%);
    /*background: #000;*/
    transition: 1s;
}

.intro img {
    top: 100px;
    position: absolute;
}

.intro p {
    color: gray;
    font-size: 1.6rem;
    margin-top: 70px;
}

.logo {
    font-size: 5rem;
    color: white;
}

.logo-parts {
    text-align: center;
    position: relative;
    display: inline-block;
    bottom: -200px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out.5s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.cuerpo {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 650px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 100px 0;
    border-radius: 70px;
}

.cuerpo img{
    border-radius: 15px;
    width:100%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .cuerpo {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 100px 0;
        border-radius: 70px;
    }
}